#send-button.yt-live-chat-message-input-renderer > *.yt-live-chat-message-input-renderer {
    color: white;
}

#send-button.yt-live-chat-message-input-renderer > .yt-live-chat-message-input-renderer[disabled] {
    color: rgb(120 120 120);
}

#send-button.yt-live-chat-message-input-renderer > .yt-live-chat-message-input-renderer[disabled]:hover {
    color: rgb(120 120 120);
}

